@charset "utf-8";
/* Body section */

body {
	background-color:#FFF;
	color:#111;
	text-align:center
}
/* Site area section */
#Wrapper {
	text-align: justify;
	width: 800px;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position:relative;
	font-family:Verdana, Geneva, sans-serif;
}
/* Logo, city name & welcome message section */
#SiteLogo {
	top:5px;
	left:275px;
	position:absolute;
}
#CityName {
	font-size:62px;
	color:#84BA22;
	text-transform:uppercase;
	top:90px;
	left:0px;
	width:800px;
	text-align:center;
	position:absolute;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 0 -0.8px 2px #ED7C10;
}
#Reminder {
	position:absolute;
	top:175px;;
	left:165px;
	text-shadow: 0 -0.8px 1px #999;
	font-size:22px;
	font-family: 'Fjalla One', sans-serif;
	border-bottom:1px solid #000;
}
#PrintDealsButton {
	top:220px;
	left:330px;
	position:absolute;
}
#DealsMainBox {
	top:250px;
	left:0px;
	width:800px;
	height:auto;
	position:relative;
}
/* Deal listing boxes section */
#MLDivSpace {
	top:0px;
	left:0px;
	width:795px;
	height:250px;
	position:relative;
	float:left;
}
#firstcolumn, #secondcolumn {
	top:0px;
	left:0px;
	color:#000;
	position:relative;
}
#deallistbox {
	top:15px;
	left:50px;
	width:700px;
	height:210px;
	position:relative;
	border: 3px dashed #21303b;
	-webkit-box-shadow: 5px 5px 5px #000;
	-moz-box-shadow: 5px 5px 5px #000;
	box-shadow: 5px 5px 5px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	background-color: #FFF !important;
	-webkit-print-color-adjust: exact;
}

#PrintDealTitle {
	top:10px;
	left:5px;
	width:300px;
	text-align:left;
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
}
#PrintDealDate {
	top:15px;
	width:70px;
	right:5px;
	text-align:right;
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
}
#DealBorders {
	top:32px;
	left:7px;
	width:690px;
	height:120px;
	position:absolute;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
#PrintDealImage {
	top:5px;
	left:5px;
	width:120px;
	text-align:center;
	position:absolute;
}
#PrintDealDetail {
	top:25px;
	left:135px;
	width:525px;
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
}
#PrintDealBusiness {
	top:160px;
	left:8px;
	width:365px;
	position:absolute;
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	font-weight:bold;
}
#PrintDealAddress {
	top:182px;
	width:465px;
	left:8px;
	height:28px;
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}
#PrintDealPhone {
	top:165px;
	width:115px;
	right:15px;
	position:absolute;
	text-align:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}
/* Bottom border section */
#BottomMssg {
	bottom:15px;
	left:0px;
	width:720px;
	height:35px;
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
}
#SiteLogoPrint, #CityNamePrint, #ReminderPrint {
	display: none;
}